.serviceWrap {
    width: 100%;
    height: 100%;
    padding: 2vw 3vw;

    .nameBox {
        width: 100%;
        height: 25vw;
        padding: 4vw 4vw 4vw 0;
        display: flex;
        background: $mainBG_3;
        border-radius: 2vw;
        margin-bottom: 4vw;

        .icBox {
            width: 24vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            div {
                width: 15vw;
                height: 15vw;
            }
        }

        .info {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .title {
                color: $title_1;
                font-size: 3.7vw;
                font-weight: bold;
                margin-bottom: 2vw;

                span {
                    color: $title_3;
                }
            }

            p {
                color: $title_4;
                font-weight: bold;
                font-size: 3.7vw;
            }
        }
    }

    .linkBox {
        width: 100%;
        height: 23vw;
        padding: 4vw 4vw 4vw 0;
        display: flex;
        background: $secondBG_1;
        border-radius: 2vw;
        margin-bottom: 2vw;
        border: solid 1px $Border_1;

        .icBox {
            width: 16vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            div {
                width: 9vw;
                height: 8vw;

                &.p2 {
                    background-position-x: 100%;
                }
            }
        }

        .info {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .title {
                color: $title_1;
                font-size: 3.7vw;
                font-weight: bold;
                margin-bottom: 2vw;
                letter-spacing: 2px;
            }

            .remind {
                color: $title_4;
                font-weight: bold;
                font-size: 3vw;
                margin-bottom: 2vw;
            }

            .text {
                color: $title_3;
                font-weight: bold;
                font-size: 3.7vw;
            }
        }
    }
}

.optionWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: $BG;
    display: flex;
    flex-direction: column;
    transition: 0.3s all;
    transform: translateX(100%);

    &.display {
        transform: translateX(0);
    }

    .header {
        width: 100%;
        height: 10.5vw;
        border-radius: 0 0 5vw 5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4vw;
        background: $mainBG_1;
        position: relative;
        flex-shrink: 0;

        .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: $title_5;
            font-weight: bold;
            font-size: 5vw;
            white-space: nowrap;
        }

        i {
            width: 4vw;
            height: 4vw;
        }

        .btnBox {
            width: auto;
            height: auto;

            a {
                width: auto;
                height: auto;
                @include loginRecord;
                padding: 2vw;
            }
        }
    }

    .content {
        width: 100%;
        height: auto;
        margin-top: 2vw;
        
        .top {
            width: 100%;
            height: auto;
            background: $mainBG_3;
            padding: 3vw;

            div {
                width: 100%;
                height: auto;

                &:nth-of-type(1) {
                    border-bottom: solid 1px $Border_2;
                    padding-bottom: 1vw;
                    margin-bottom: 3vw;

                    .title {
                        margin-bottom: 2vw;
                    }
                }

                .title {
                    color: $title_1;
                    font-size: 3.7vw;
                    font-weight: bold;
                }

                select {
                    width: 100%;
                    height: 9vw;
                    @include selectStyle_1;
                }
            }
        }

        .bottom {
            width: 100%;
            height: auto;
            padding: 3vw;
            background: $mainBG_2;
            
            textarea {
                width: 100%;
                height: auto;
                min-height: 37vh;
                border-color: transparent transparent $Border_2;
                margin-bottom: 3vw;
                background: none;
                color: $title_3;
                font-size: 3.7vw;
                font-weight: bold;
                resize: none;

                &::placeholder {
                    color: $title_4;
                }
            }

            .btnBox {
                width: 100%;
                height: auto;
                margin-bottom: 6vw;

                button {
                    width: 12vw;
                    height: 12vw;
                    border: dashed 2px $Border_2;
                    background: none;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 7vw;
                        height: 5vw;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }

            .remind {
                color: $remind_1;
                font-size: 2vw;
                font-weight: bold;
                line-height: 4vw;
            }
        }

        .check {
            width: 96%;
            height: 11vw;
            @include setMenuBtn;
            margin: 2vw auto;
        }
    }
}

.mineOptionWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: $BG;
    display: flex;
    flex-direction: column;
    transition: 0.3s all;
    transform: translateX(100%);

    &.display {
        transform: translateX(0);
    }

    .header {
        width: 100%;
        height: 10.5vw;
        border-radius: 0 0 5vw 5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4vw;
        background: $mainBG_1;
        position: relative;
        flex-shrink: 0;

        .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: $title_5;
            font-weight: bold;
            font-size: 5vw;
            white-space: nowrap;
        }

        i {
            width: 4vw;
            height: 4vw;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 2vw 3vw;

        ul {
            width: 100%;
            height: auto;

            li {
                width: 100%;
                height: auto;
                border-radius: 2vw;
                border: solid 1px $Border_1;
                overflow: hidden;
                margin-bottom: 2vw;

                .title {
                    width: 100%;
                    height: 7vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: $secondBG_2;
                    padding: 0 3vw;

                    .name {
                        color: $title_1;
                        font-weight: bold;
                        font-size: 3.7vw;

                        span {
                            width: auto;
                            height: auto;
                            background: $mainBG_2;
                            border: solid 1px $service_titleBorder;
                            border-radius: 1vw;
                            font-size: 2vw;
                            color: $title_4;
                            padding: 0 2vw;
                            margin-left: 1vw;

                            &.empty {
                                background: none;
                            }
                        }
                    }

                    .time {
                        color: $title_4;
                        font-weight: bold;
                        font-size: 2vw;
                    }
                }

                .box {
                    width: 100%;
                    height: auto;
                    padding: 3vw;
                    background: $mainBG_3;

                    .name {
                        color: $title_1;
                        font-size: 3.7vw;
                        font-weight: bold;
                        line-height: 4vw;
                    }

                    .text {
                        color: $title_3;
                        font-weight: bold;
                        font-size: 3.7vw;
                        margin-top: 3vw;
                        line-height: 4vw;
                    }
                }
            }
        }
    }
}