.transferWrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .top {
        width: 100%;
        height: auto;
        padding: 0 3vw;
        background: $mainBG_3;
        margin-top: 2vw;

        .title {
            width: 100%;
            height: 8vw;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: $title_1;
                font-size: 3.7vw;
                font-weight: bold;
                display: flex;
                align-items: center;

                i {
                    width: 3vw;
                    height: 3vw;
                    margin-left: 2vw;
                }
            }

            button {
                width: auto;
                height: auto;
                @include listBtn;
                padding: 0.5vw 1vw;
            }
        }

        .box {
            width: 100%;
            height: auto;
            border: solid 1px $Border_2;
            border-width: 1px 0;

            ul {
                width: 100%;
                height: auto;

                li {
                    display: flex;
                    padding: 1.5vw 0;
                    width: 100%;
                    height: auto;
                    border-bottom: solid 1px $Border_2;

                    &:nth-of-type(1) {
                        padding: 2vw 0;

                        div {

                            .num {
                                font-size: 4vw;
                            }
                        }
                    }
                    &:last-child {
                        border: none;
                    }

                    div {
                        width: 50%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-right: solid 1px $Border_2;
                        flex-direction: column;

                        &:last-child {
                            border: none;
                        }

                        .smallTitle {
                            color: $title_1;
                            font-size: 3.7vw;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            margin-bottom: 2vw;

                            i {
                                width: 3vw;
                                height: 3vw;
                                margin-right: 1vw;

                                &.limit_ic {
                                    background-position-x: 100%;
                                }
                            }
                        }

                        .num {
                            color: $title_3;
                            font-weight: bold;
                            font-size: 3vw;
                        }
                    }
                }
            }
        }

        .openBtn {
            width: 100%;
            height: 11vw;
            background: none;
            color: $title_4;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3vw;
            font-weight: bold;

            i {
                width: 3vw;
                height: 3vw;
                margin-left: 1vw;
            }
        }
    }

    .bottom {
        width: 100%;
        height: auto;
        background: $mainBG_2;
        padding: 0 3vw;
        margin-top: 2vw;

        ul {
            width: 100%;
            height: auto;

            li {
                width: 100%;
                height: auto;
                padding: 3vw 0;
                border-bottom: solid 1px $Border_2;
                
                &:nth-of-type(1) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .title {
                        margin: 0;
                    }
                }
                &:last-child {
                    border: none;
                }

                .title {
                    color: $title_1;
                    font-size: 3.7vw;
                    font-weight: bold;
                    margin-bottom: 3vw;
                }

                .row {
                    width: 20vw;
                    height: 8vw;
                    @include rowStyle_3;
    
                    &.active {
                        
                        .bar {
                            left: 63%;
                        }
                    }
    
                    p {
                        width: 50%;
                        font-size: 3.7vw;
                        font-weight: bold;
                        text-align: center;
                        transition: 0.3s all;
                    }
    
                    .bar {
                        width: 7vw;
                        height: 7vw;
                        border-radius: 10vw;
                        position: absolute;
                        transition: 0.3s all;
                        left: 3%;
                    }
                }

                select {
                    width: 100%;
                    height: 9vw;
                    @include selectStyle_1;
                }

                .inputBox {
                    width: 100%;
                    height: 10vw;
                    position: relative;

                    input {
                        width: 100%;
                        height: 100%;
                        @include inputStyle_1;
                    }

                    p {
                        color: $title_3;
                        font-size: 3.7vw;
                        font-weight: bold;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 2vw;
                    }
                }
            }
        }
    }

    .check {
        width: 96%;
        height: 11vw;
        @include setMenuBtn;
        margin: 2vw auto 7vw;
    }
}